<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<h3>DATOS PERSONALES DEL TRABAJADOR</h3>
<hr>
<button pButton type="button" icon="pi pi-pencil" label="Editar" (click)="cargarInformacionPersonal()"
  class="p-button-info"></button>
<hr>
<br />

<div class="p-fluid grid p-formgrid" *ngIf="regPer">

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Apellido Paterno</div>
    <div class="col-12">{{ regPer.apPaterno }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Apellido Materno</div>
    <div class="col-12">{{ regPer.apMaterno }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Nombres</div>
    <div class="col-12">{{ regPer.nombres }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Sexo</div>
    <div class="col-12">{{ regPer.sexo | genero }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Fecha Nacimiento</div>
    <div class="col-12">{{ regPer.fechaNacimiento | date: 'dd/MM/yyyy' }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Lugar de Nacimiento</div>
    <div class="col-12">{{ regPer.lugarNacimiento }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Cedula de Identidad</div>
    <div class="col-12">{{ regPer.ciNumero }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Expedido</div>
    <div class="col-12">{{ regPer.ciExpedido | ciExpedido }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">CI Fecha Vencimiento</div>
    <div class="col-12">{{ regPer.ciFechaVencimiento | date: 'dd/MM/yyyy' }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Estado Civil</div>
    <div class="col-12">{{ regPer.estadoCivil }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Direccion</div>
    <div class="col-12">{{ regPer.direccion }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Nacionalidad</div>
    <div class="col-12">{{ regPer.nacionalidad | pais }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Zona Residencia</div>
    <div class="col-12">{{ regPer.zona?.zona }}</div>
  </div>

  <div class="field col-12 md:col-4">
    <div class="col-12 text-orange-500">Ciudad Residencia</div>
    <div class="col-12">{{ regPer.ciudad?.ciudad }}</div>
  </div>
</div>


<!-- Modal para cargar la informacion personal para poder editarlo -->
<p-dialog header="Informacion Personal" [(visible)]="displayModal" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
  [style]="{width: '80vw'}" [modal]="true" [draggable]="true">

  <form [formGroup]="formDatosPersonales" autocomplete="off" (ngSubmit)="guardar()">
    <div class="formgrid grid">


      <div class="field col-12 md:col-4">
        <label for="nombres">Nombres</label>
        <input pInputText id="nombres" type="text" formControlName="nombres"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label for="apPaterno">Apellido Paterno</label>
        <input pInputText id="apPaterno" type="text" formControlName="apPaterno"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label for="apMaterno">Apellido Materno</label>
        <input pInputText id="apMaterno" type="text" formControlName="apMaterno"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

     <div class="field col-12 md:col-4">
        <label for="sexo">Sexo</label>
        <p-dropdown id="sexo" [options]="lstGenero" formControlName="sexo" optionValue="codTipos" optionLabel="nombre" class="flex">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="fecNac">Fecha Nacimiento</label>
        <p-calendar id="fecNac" appendTo="body" formControlName="fecNac"
          class="border-round appearance-none outline-none  w-full" dateFormat="dd/mm/yy">
        </p-calendar>
      </div>

      <div class="field col-12 md:col-4">
        <label for="lugarNacimiento">Lugar de Nacimiento</label>
        <input id="lugarNacimiento" type="text" formControlName="lugarNacimiento"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label for="ci">Cedula de Indentidad</label>
        <input id="ci" type="text" formControlName="ci"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12 md:col-4">
        <label for="expedido">Expedido en</label>
        <p-dropdown id="expedido" [options]="lstExpedido" formControlName="expedido" optionValue="codTipos" optionLabel="nombre" class="flex">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="ciVenci">CI Vencimiento</label>
        <p-calendar id="ciVenci" appendTo="body" formControlName="ciVenci"
          class="border-round appearance-none outline-none  w-full" dateFormat="dd/mm/yy">
        </p-calendar>
      </div>

      <div class="field col-12 md:col-4">
        <label for="estCivil">Estado Civil</label>
        <p-dropdown id="estCivil" [options]="lstEstadoCivil" formControlName="estCivil" optionLabel="nombre" optionValue="codTipos"
          class="flex"></p-dropdown>
      </div>

      <div class="field col-12 md:col-3">
        <label for="nacionalidad">Nacionalidad</label>
        <p-dropdown id="nacionalidad" class="inputfield w-full" [options]="lstPais" optionLabel="pais"
          optionValue="codPais" formControlName="nacionalidad"></p-dropdown>
      </div>

      <div class="field col-12">
        <label for="direccion">Direccion</label>
        <textarea id="direccion" type="text" rows="4" formControlName="direccion"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
      </div>

      <div class="field col-12 md:col-4">
        <label for="pais">Pais Residencia</label>
        <p-dropdown id="pais" formControlName="codPais" placeholder="Seleccione Pais" [options]="lstPais" optionLabel="pais" optionValue="codPais" class="flex"
          (onChange)="cargarCiudades($event.value)" appendTo="body">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="estCivil">Ciudad Residencia</label>
        <p-dropdown id="pais" formControlName="ciudad" placeholder="Seleccione Ciudad" [options]="lstCiudad" optionLabel="ciudad" optionValue="codCiudad" class="flex"
          (onChange)="cargarZonas($event.value)" appendTo="body">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="zonaRe">Zona Residencia</label>
        <p-dropdown id="zonaRe" formControlName="zonaRe" placeholder="Seleccione Zona" [options]="lstZona" optionValue="codZona"
          optionLabel="zona" class="flex" appendTo="body">
        </p-dropdown>
      </div>

      <button pButton type="submit" icon="pi pi-save" label="Guardar" class="flex-1 m-15 px-5 py-3 flex align-items-center p-button-raised p-button-success"></button>

    </div>
  </form>
</p-dialog>

<hr>
