<h3>DATOS PERSONALES DEL TRABAJADOR</h3>
<hr>
<br/>

  <div class="p-fluid grid p-formgrid">

    <div class="field col-12 md:col-4">
      <label for="apPaterno">Apellido Paterno</label>
      <input id="apPaterno" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="apMaterno">Apellido Materno</label>
      <input id="apMaterno" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="nombres">Nombres(s)</label>
      <input id="nombres" type="text"   pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="sexo">Sexo</label>
      <input id="sexo" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="fechaNacimiento">Fecha Nacimiento</label>
      <p-calendar id="fechaNacimiento" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"  class="w-full" ></p-calendar>
    </div>

    <div class="field col-12 md:col-4">
      <label for="lugarDeNacimiento">Lugar de Nacimiento</label>
      <input id="lugarDeNacimiento" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="ci">CI</label>
      <input id="ci" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="expedido">Expedido</label>
      <input id="expedido" type="text" pInputText class="p-inputtext-sm w-full">
    </div>

    <div class="field col-12 md:col-4">
      <label for="fechaVencimiento">Fecha Vencimiento</label>
      <p-calendar id="fechaVencimiento" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"  class="w-full" ></p-calendar>
    </div>

  </div>

<hr>
