<div align="center">
  <h2>
    INFORMACION EMPLEADO
  </h2>
</div>
<hr>
<div class="grid">
  <p-panel class="col-12 md:col-6 lg:col-7" header="DATOS PERSONALES">
    <div class="grid">
      <div class="col-6">
          Nombre:
      </div>
      <div class="col-6">
        Lorem
    </div>
    <div class="col-6">
      Apellido:
  </div>
  <div class="col-6">
    Ipsum
</div>
    </div>
  </p-panel>
  <p-panel class="col-12 md:col-6 lg:col-5" header="UBICACIONES">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </p-panel>
</div>
