<ng-template pTemplate="icons">
  <p-splitButton label="Editar" icon="pi pi-cog" styleClass="p-button-sm mr-2 mb-2"></p-splitButton>
</ng-template>
<div class="grid p-flex-column-reverse">
  <div class="col-12">
    <div class="grid">
      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Codigo:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.codEmpleado }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Cedula de Identidad:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.ciNumero}}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Pais de Nacimiento:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.pais?.pais }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Sexo:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.sexo | genero }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Vencimiento CI:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.ciFechaVencimiento | date: 'dd/MM/yyyy' }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Fecha Nacimiento:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.fechaNacimiento | date: 'dd/MM/yyyy' }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Lugar Nacimiento:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.lugarNacimiento }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Estado Civi: </label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regPer?.estadoCivil | estadoCivil }}</label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Ubicacion:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regPer?.pais?.pais }}, {{ regPer?.ciudad?.ciudad }}, {{ regPer?.zona?.zona }} </label>

      <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Direccion:</label>
      <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.direccion }}</label>

    </div>

  </div>
  <div class="col-12">
    MAPA
  </div>
</div>
