<p-panel header="DATOS PERSONALES">
  <ng-template pTemplate="icons">
    <button pButton (click)="cargarDatosPersona()"> Editar </button>
  </ng-template>
  <div class="grid p-flex-column-reverse">
    <div class="col-12">
      <div class="grid">
        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Codigo:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.codEmpleado }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Cedula de Identidad:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.ciNumero}} {{ regPer?.ciExpedido | ciExpedido }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Pais de Nacimiento:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.pais?.pais }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Sexo:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.sexo | genero }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Vencimiento CI:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.ciFechaVencimiento | date: 'dd/MM/yyyy'
          }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Fecha Nacimiento:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.fechaNacimiento | date: 'dd/MM/yyyy' }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Lugar Nacimiento:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.lugarNacimiento }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Estado Civi: </label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regPer?.estadoCivil | estadoCivil }}</label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Ubicacion:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regPer?.pais?.pais }}, {{ regPer?.ciudad?.ciudad }}, {{
          regPer?.zona?.zona }} </label>

        <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Direccion:</label>
        <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regPer?.direccion }}</label>

      </div>
    </div>
    <div class="col-12">
      MAPA
    </div>
  </div>
</p-panel>

<!-- Modal para editar y/o guardar la informacion -->
<p-dialog header="ACTUALIZAR DATOS PERSONALES" [(visible)]="displayModal" [modal]="true" [draggable]="true"
  [resizable]="true" >
  <div class="grid">
    <label class="col-6">Nombres:</label>
    <label class="col-6">{{ regPer?.nombres }}</label>

    <label class="col-6">Apellido Paterno:</label>
    <label class="col-6">{{ regPer?.apPaterno }}</label>

    <label class="col-6">Apellido Materno</label>
    <label class="col-6">{{ regPer?.apMaterno }}</label>

    <label class="col-6">Sexo: {{ regPer?.sexo }}</label>
    <p-dropdown class="col-6" [options]="lstGenero" optionLabel="nombre"  [(ngModel)]="regPer.sexo" optionValue="codTipos" ></p-dropdown>

    <label class="col-6">Pais de Nacimiento:</label>
    <p-dropdown class="col-6" [options]="lstPais" optionLabel="pais" optionValue="codPais" [(ngModel)]="regPer.nacionalidad"  ></p-dropdown>

    <label class="col-6">Lugar de Nacimiento:</label>
    <label class="col-6">{{ regPer?.lugarNacimiento }}</label>

    <label class="col-6">CI:</label>
    <label class="col-6">{{ regPer?.ciNumero }}</label>

    <label class="col-6">Fecha Vencimiento CI:</label>
    <label class="col-6">{{ regPer?.ciFechaVencimiento | date: 'dd/MM/yyyy' }}</label>

    <label class="col-6">Fecha de Nacimiento:</label>
    <label class="col-6">{{ regPer?.fechaNacimiento | date: 'dd/MM/yyyy' }}</label>

    <label class="col-6">Pais Residencia: </label>
    <p-dropdown class="col-6" [options]="lstPais" optionLabel="pais" optionValue="codPais" [(ngModel)]="regPer.ciudad!.codPais" placeholder="Seleccione Pais"  (onChange)="cargarCiudades($event)" ></p-dropdown>

    <label class="col-6">Ciudad Residencia:</label>
    <p-dropdown class="col-6" [options]="lstCiudad" optionLabel="ciudad" optionValue="codCiudad" [(ngModel)]="regPer.ciudad!.codCiudad"  placeholder="Seleccione Ciudad"  (onChange)="cargarZonas($event)" ></p-dropdown>

    <label class="col-6">Zona Residencia:</label>
    <p-dropdown class="col-6" [options]="lstZona"   optionLabel="zona" optionValue="codZona" [(ngModel)]="regPer.codZona" placeholder="Seleccione Zona" [virtualScroll]="true" [itemSize]="lstZona.length" ></p-dropdown>

    <label class="col-6">Direccion:</label>
    <textarea rows="5" cols="30" pInputTextarea></textarea>


    <label class="col-6">Estado Civil:</label>
    <p-dropdown class="col-6" [options]="lstEstadoCivil" optionLabel="nombre" optionValue="codTipos" [(ngModel)]="regPer.estadoCivil"  placeholder="Seleccione Estado Civil" ></p-dropdown>


  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
