<p-panel header="DATOS DE EMPLEADO">
  <ng-template pTemplate="icons">
    <button pButton label="Editar" icon="pi pi-cog" (click)="desplegarModal()"></button>
  </ng-template>
  <div class="grid">
    <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Nro.Cuenta Bancaria:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.numCuenta }} </label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Empresa:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{
      regEmp?.cargo?.cargoSucursal?.sucursal?.empresa?.nombreEmpresa }} </label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.cargo?.descripcion }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">A Partir de:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.empleadoCargo?.fechaInicio | date: 'dd/MM/yyyy' }}
    </label>

    <!-- <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo Planilla:</label>
  <label class="col-12 md:col-3 lg:col-3 ajustar-text"></label> -->

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Relacion Laboral:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.esActivo | activoEInactivo }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Tipo Relacion:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.tipoRel | relacionEmpresa }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Inicio de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaIni | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fin de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaFin | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Motivo Fin:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.motivoFin }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Beneficio:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioBeneficio | date:
      'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Planilla:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioPlanilla | date: 'dd/MM/yyyy'
      }}</label>
  </div>
</p-panel>


<!-- Modal para editar la informacion del empleado -->
<p-dialog header="ACTUALIZAR DATOS DE EMPLEADO" [(visible)]="displayModal" [modal]="true"
  [breakpoints]="{'960px': '80vw', '640px': '100vw'}" [style]="{width: '75vw'}" [style]="{width: '75vw'}"
  [draggable]="true">
  <hr>
  <br>
  <form autocomplete="off" [formGroup]="formEmpleado">
    <div class="formgrid grid ">
      <div class="field col-12 md:col-6">
        <label for="cuentaBan">Num Cuenta Bancaria: </label>
        <input id="cuentaBan" type="text"  class="inputfield w-full">
      </div>

      <div class="field col-12 md:col-6">
        <label for="empresa">Empresa: </label>
        <input id="empresa" type="text"  class="inputfield w-full">
      </div>
    </div>
  </form>

</p-dialog>
