<p-panel header="DATOS DE EMPLEADO">
  <ng-template pTemplate="icons">
    <button pButton label="Nueva Gestión" icon="pi pi-plus" class="p-button-success"></button>
    <button pButton label="Historial" icon="pi pi-book" class="p-button-warning"></button>
    <button pButton label="Editar" icon="pi pi-cog" class="p-button-info" (click)="desplegarModal()"></button>
  </ng-template>
  <div class="grid">
    <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Nro.Cuenta Bancaria:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.numCuenta }} </label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Empresa:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{
      regEmp?.empleadoCargo?.cargoSucursal?.sucursal?.empresa?.nombre }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Sucursal:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.empleadoCargo?.cargoSucursal?.sucursal?.nombre
      }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.empleadoCargo?.cargoSucursal?.cargo?.descripcion
      }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">A Partir de:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.empleadoCargo?.fechaInicio | date: 'dd/MM/yyyy' }}
    </label>

    <!-- <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo Planilla:</label>
  <label class="col-12 md:col-3 lg:col-3 ajustar-text"></label> -->

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Relacion Laboral:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.esActivo | activoEInactivo }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Tipo Relacion:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.tipoRel | relacionEmpresa }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Inicio de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaIni | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fin de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaFin | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Motivo Fin:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.motivoFin }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Beneficio:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioBeneficio | date:
      'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Planilla:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioPlanilla | date: 'dd/MM/yyyy'
      }}</label>
  </div>
</p-panel>


<!-- Modal para editar la informacion del empleado -->
<p-dialog header="ACTUALIZAR DATOS DE EMPLEADO" [(visible)]="displayModal" [modal]="true"
  [breakpoints]="{'960px': '80vw', '640px': '100vw'}" [style]="{width: '75vw'}" [style]="{width: '75vw'}"
  [draggable]="true">
  <hr>
  <form autocomplete="off" [formGroup]="formEmpleado">
    <div class="formgrid grid" *ngIf="registroEmpleado">
      <div class=" align-items-center justify-content-center  green-container col-12 md:col-12">
        <div class="my-5 border-round bg-orange-100  font-bold p-3 flex align-items-center justify-content-center">
          <label for="cuentaBan">Número de Cuenta Bancaria: </label>
          <input id="cuentaBan" type="text" formControlName="cuentaBancaria" pInputText pKeyFilter="num"
            class="inputfield w-full">
        </div>
      </div>

      <div class=" align-items-center justify-content-center  green-container col-12 md:col-12">
        <div class="my-5 border-round bg-orange-100  font-bold p-3 flex align-items-center justify-content-center">
          <div class="grid">
            <div class="field col-12 md:col-6">
              <label for="empresa">Empresa: </label>
              <p-dropdown id="empresa" [options]="lstEmpresas" formControlName="codEmpresa" optionLabel="nombre"
                optionValue="codEmpresa" class="inputfield w-full" placeholder="Seleccione Empresa"
                (onChange)="cargarSucursales( $event )">
              </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label for="sucursal">Sucursal: </label>
              <p-dropdown id="sucursal" [options]="lstSucursales" formControlName="codSucursal" optionLabel="nombre"
                optionValue="codSucursal" class="inputfield w-full" placeholder="Seleccione Sucursal"
                [autoDisplayFirst]="false" (onChange)="cargarCargos( $event )">
              </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label for="cargo">Cargo: </label>
              <p-dropdown id="cargo" [options]="lstCargoSucursales" formControlName="codCargo" optionLabel="datoCargo"
                optionValue="codCargo" placeholder="Seleccione cargo">
              </p-dropdown>


            </div>
            <div class="field col-12 md:col-6">
              <label for="apartirDe">A partir de: </label>
              <p-calendar inputId="apartirDe" formControlName="apartirDe" dateFormat="dd/mm/yy" [showIcon]="true">
              </p-calendar>
            </div>

          </div>
        </div>
      </div>

      <div class=" align-items-center justify-content-center  green-container col-12 md:col-12">
        <div class="my-5 border-round bg-orange-100  font-bold p-3 flex align-items-center justify-content-center">
          <div class="grid">
            <div class="field col-12 md:col-6">
              <label for="relacionLaboral">Relacion Laboral: </label>
              <p-dropdown id="relacionLaboral" [options]="lstRelacionLaboral" formControlName="relacionLaboral"
                optionLabel="nombre" optionValue="codTipos" class="inputfield w-full">
              </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label for="tipoRel">Tipo Relacion: </label>

              <p-dropdown id="tipoRel" [options]="lstTipoRelEmp" formControlName="tipoRelacion" optionLabel="nombre"
                optionValue="codTipos" class="inputfield w-full">
              </p-dropdown>
            </div>
            <div class="field col-12 md:col-6">
              <label for="fecIni">Fecha Inicio Funciones: </label>
              <p-calendar id="fecIni" inputId="apartirDe" formControlName="fechaInicio" dateFormat="dd/mm/yy"
                [showIcon]="true">
              </p-calendar>
            </div>
            <div class="field col-12 md:col-6">
              <label for="fecFin">Fecha Fin: </label>
              <p-calendar id="fecFin" inputId="apartirDe" formControlName="fechaFin" dateFormat="dd/mm/yy"
                [showIcon]="true">
              </p-calendar>
            </div>
            <div class="field col-12 md:col-12">
              <label for="motivo">Motivo: </label>
              <textarea id="motivo" type="text" formControlName="motivoFin" class="inputfield w-full"
                pInputTextarea></textarea>
            </div>

          </div>
        </div>
      </div>

      <div class=" align-items-center justify-content-center  green-container col-12 md:col-12">
        <div class="my-5 border-round bg-orange-100  font-bold p-3 flex align-items-center justify-content-center">
          <div class="grid">
            <div class="field col-12 md:col-6">
              <label for="relLab">Fecha Inicio Beneficio: </label>
              <input id="relLab" type="text" formControlName="fecInicioBeneficio" class="inputfield w-full">
            </div>
            <div class="field col-12 md:col-6">
              <label for="relLab">Fecha Inicio Planilla: </label>
              <input id="relLab" type="text" formControlName="fecInicioPlanilla" class="inputfield w-full">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div align="center">
      <button pButton type="submit" label="Guardar" icon="pi pi-save"
        class="p-button-outlined p-button-success"></button>
    </div>
  </form>
</p-dialog>
