<p-panel header="DATOS DE EMPLEADO">
  <ng-template pTemplate="icons">
    <p-splitButton label="Editar" icon="pi pi-cog" styleClass="p-button-sm mr-2 mb-2"></p-splitButton>
  </ng-template>
  <div class="grid">
    <label class="col-12 md:col-3 lg:col-3 text-orange-500  ajustar-text">Nro.Cuenta Bancaria:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.numCuenta }} </label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Empresa:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{
      regEmp?.cargo?.cargoSucursal?.sucursal?.empresa?.nombreEmpresa }} </label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.cargo?.descripcion }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">A Partir de:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text"> {{ regEmp?.empleadoCargo?.fechaInicio | date: 'dd/MM/yyyy' }}
    </label>

    <!-- <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Cargo Planilla:</label>
  <label class="col-12 md:col-3 lg:col-3 ajustar-text"></label> -->

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Relacion Laboral:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.esActivo | activoEInactivo }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Tipo Relacion:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.tipoRel | relacionEmpresa }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Inicio de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaIni | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fin de Funciones:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaFin | date: 'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Motivo Fin:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.motivoFin }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Beneficio:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioBeneficio | date:
      'dd/MM/yyyy' }}</label>

    <label class="col-12 md:col-3 lg:col-3 text-orange-500 ajustar-text">Fecha Inicio Planilla:</label>
    <label class="col-12 md:col-3 lg:col-3 ajustar-text">{{ regEmp?.relEmpEmpr?.fechaInicioPlanilla | date: 'dd/MM/yyyy'
      }}</label>

  </div>
</p-panel>
