<p-panel header="EMAIL(S)">
  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-cog" class="p-button-sm px-1" (click)="cargarEmails()" label="Editar">
    </button>
  </ng-template>
  <ul *ngFor="let email of emails">
    <li>
      {{ email.email }}
    </li>
  </ul>
</p-panel>

<!-- Dialog para editar o agregar mas Emails  -->
<p-dialog header="ACTUALIZAR DATOS DE EMAIL" [(visible)]="displayModal" [modal]="true" [draggable]="true">
  <hr>
  <button pButton class="p-button-help" (click)="agregarNuevoRegistro()"> Nuevo Registro </button>
  <form autocomplete="off" [formGroup]="formEmail" (ngSubmit)="guardarEmails()">

    <br>
    <div formArrayName="emailArr">
      <div *ngFor="let em of lstFormEmail().controls;  let i = index" [formGroupName]="i">
        <br>
        <div class="grid">

          <input class="col-7" pInputText formControlName="email" placeholder="Nuevo Email">
          <button pButton class="col-4 mx-1 p-button-danger" type="button" label="Eliminar"
            (click)="eliminarRegistro(i, lstFormEmail().controls[i].value.codEmail)" icon="pi pi-trash"></button>
        </div>

      </div>

    </div>
    <hr>
    <button pButton class="p-button-success" icon="pi pi-save" type="submit" label="Guardar" [disabled]="!formEmail.valid"></button>
  </form>


  <span>Valid</span>
  <pre>{{ formEmail.valid }}</pre>
  <br>

  <span>Value</span>
  <pre>{{ formEmail.value | json}}</pre>

</p-dialog>
