<br />
<h3>EXPERIENCIA</h3>
<hr>
<br />
<button pButton icon="pi pi-plus" class="p-button-success" (click)="cargarRegistro()" label="Nuevo Registro"></button>

<!-- Tabla para desplegar la experiencia laboral -->
<p-table [value]="lstExperienciaLaboral" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Empresa</th>
      <th>Cargo</th>
      <th>Descripcion</th>
      <th>Fecha de Inicio</th>
      <th>Fecha de Conclusion</th>
      <th>Telefono Referencia</th>
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-expLab>
    <tr>
      <td>{{expLab.nombreEmpresa}}</td>
      <td>{{expLab.cargo}}</td>
      <td>{{expLab.descripcion}}</td>
      <td>{{expLab.fechaInicio | date: 'dd/MM/yyyy' }}</td>
      <td>{{expLab.fechaFin | date: 'dd/MM/yyyy' }}</td>
      <td>{{expLab.nroReferencia }}</td>
      <td>
        <button pButton type="button" label="Editar" icon="pi pi-pencil" class="p-button-warning">

        </button>
      </td>
    </tr>
  </ng-template>
</p-table>

<!-- Dialog o modal para editar la informacion sobre la experiencia -->
<p-dialog header="Registrar Nueva Experiencia Laboral" [(visible)]="displayModal" [modal]="true" [draggable]="true"
  [resizable]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '60vw'}">

  <form autocomplete="off" [formGroup]=formExperiencia (ngSubmit)="guardar()">

    <div class="grid">

      <div class="field col-12">
        <label for="nombreEmpresa">Nombre Empresa: </label>
        <input id="nombreEmpresa" type="text" formControlName="nombreEmpresa"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12">
        <label for="cargo">Cargo: </label>
        <input id="cargo" type="text" formControlName="cargo"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12">
        <label for="descripcion">Descripcion: </label>
        <input id="descripcion" type="text" formControlName="descripcion"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>

      <div class="field col-12">
        <label for="fechaInicio">Fecha Inicio: </label>
        <p-calendar appendTo="body"  id="fechaInicio" formControlName="fechaInicio" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="field col-12">
        <label for="fechaFin">Fecha Conclusion: </label>
        <p-calendar id="fechaFin" appendTo="body" formControlName="fechaFin" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="field col-12">
        <label for="nroReferencia">Telefono Referencia: </label>
        <input id="nroReferencia" type="text" formControlName="nroReferencia"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
      </div>
    </div>

    <div aling="center">
      <button type="submit" pButton icon="icon" label="Guardar"></button>
    </div>

  </form>

</p-dialog>
