<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<br />
<h3>GARANTES Y REFERENCIAS</h3>
<hr>
<br />
<button pButton type="button" label="Nuevo Garante o Referencia" icon="pi pi-plus" class="p-button-success"
  (click)="prepararFormulario()">
</button>

<br />

<!-- datos de los garantes y referencias -->
<p-table [value]="lstGaranteReferencia" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre Completo</th>
      <th>Direccion Domicilio</th>
      <th>Direccion Trabajo</th>
      <th>Empresa Trabajo</th>
      <th>Tipo</th>
      <th>Observacion</th>
      <th>Tipo Laboral/Personal</th>
     <!--  <th>Accion</th> -->

    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-gr>

    <tr>
      <td>{{ gr.nombreCompleto }}</td>
      <td>{{ gr.direccionDomicilio }}</td>
      <td>{{ gr.direccionTrabajo }}</td>
      <td>{{ gr.empresaTrabajo }}</td>
      <td>{{ gr.tipo }}</td>
      <td>{{ gr.observacion }}</td>
      <td>{{ gr.esEmpleado }}</td>
      <td>
        <button pButton type="button" label="Detalle" icon="pi pi-list" class="p-button-success"></button>
      </td>
    </tr>

  </ng-template>
</p-table>

<!-- Dialog para registrar a un nuevo dependiente -->
<p-dialog header="Registrar Datos Garante o Referencia" [(visible)]="displayModal"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '80vw'}" [modal]="true" [draggable]="true">

  <form [formGroup]="formDatosGaranYRef" autocomplete="off" (ngSubmit)="guardar()">

    <div class="formgrid grid">

      <div class="field col-12 md:col-4">
        <label for="nombres">Nombres</label>
        <input pInputText id="nombres" type="text" formControlName="nombres"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Nombres son requeridos" *ngIf="esValido('nombres')"></p-message>
      </div>

      <div class="field col-12 md:col-4">
        <label for="apPaterno">Apellido Paterno</label>
        <input pInputText id="apPaterno" type="text" formControlName="apPaterno"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Apellido Paterno es Requerido" *ngIf="esValido('apPaterno')"></p-message>
      </div>

      <div class="field col-12 md:col-4">
        <label for="apMaterno">Apellido Materno</label>
        <input pInputText id="apMaterno" type="text" formControlName="apMaterno"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Apellido Materno es Requerido" *ngIf="esValido('apMaterno')"></p-message>

      </div>

      <div class="field col-12 md:col-4">
        <label for="sexo">Sexo</label>
        <p-dropdown id="sexo" [options]="lstGenero" formControlName="sexo" optionValue="codTipos" optionLabel="nombre"
          class="flex">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="fecNac">Fecha Nacimiento</label>
        <p-calendar id="fecNac" appendTo="body" formControlName="fecNac"
          class="border-round appearance-none outline-none  w-full" dateFormat="dd/mm/yy">
        </p-calendar>
        <p-message severity="error" text="* Fecha de Nacimiento es Requerido" *ngIf="esValido('fecNac')"></p-message>
      </div>

      <div class="field col-12 md:col-4">
        <label for="lugarNacimiento">Lugar de Nacimiento</label>
        <input id="lugarNacimiento" type="text" formControlName="lugarNacimiento"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Lugar de Nacimiento es Requerido"
          *ngIf="esValido('lugarNacimiento')"></p-message>

      </div>

      <div class="field col-12 md:col-4">
        <label for="ci">Cedula de Indentidad</label>
        <input id="ci" type="text" formControlName="ci"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Cedula de Identidad es Requerido" *ngIf="esValido('ci')"></p-message>

      </div>

      <div class="field col-12 md:col-4">
        <label for="expedido">Expedido en</label>
        <p-dropdown id="expedido" [options]="lstExpedido" formControlName="expedido" optionValue="codTipos"
          optionLabel="nombre" class="flex">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="ciVenci">CI Vencimiento</label>
        <p-calendar id="ciVenci" appendTo="body" formControlName="ciVenci"
          class="border-round appearance-none outline-none  w-full" dateFormat="dd/mm/yy">
        </p-calendar>
        <p-message severity="error" text="* CI Vencimiento es Requerido" *ngIf="esValido('ciVenci')"></p-message>

      </div>

      <div class="field col-12 md:col-4">
        <label for="estCivil">Estado Civil</label>
        <p-dropdown id="estCivil" [options]="lstEstadoCivil" formControlName="estCivil" optionLabel="nombre"
          optionValue="codTipos" class="flex"></p-dropdown>
      </div>

      <div class="field col-12 md:col-3">
        <label for="nacionalidad">Nacionalidad</label>
        <p-dropdown id="nacionalidad" class="inputfield w-full flex" [options]="lstPais" optionLabel="pais"
          optionValue="codPais" formControlName="nacionalidad">
        </p-dropdown>
      </div>



      <div class="field col-12">
        <label for="direccion">Direccion</label>
        <textarea id="direccion" type="text" rows="4" formControlName="direccion"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
      </div>

      <div class="field col-12 md:col-4">
        <label for="pais">Pais Residencia</label>
        <p-dropdown id="pais" formControlName="codPais" placeholder="Seleccione Pais" [options]="lstPais" optionLabel="pais" optionValue="codPais" class="flex"
          (onChange)="cargarCiudades($event.value)" appendTo="body">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="estCivil">Ciudad Residencia</label>
        <p-dropdown id="pais" formControlName="ciudad" placeholder="Seleccione Ciudad" [options]="lstCiudad" optionLabel="ciudad" optionValue="codCiudad" class="flex"
          (onChange)="cargarZonas($event.value)" appendTo="body">
        </p-dropdown>
      </div>

      <div class="field col-12 md:col-4">
        <label for="zonaRe">Zona Residencia</label>
        <p-dropdown id="zonaRe" formControlName="zonaRe" placeholder="Seleccione Zona" [options]="lstZona" optionValue="codZona"
          optionLabel="zona" class="flex" appendTo="body">
        </p-dropdown>
      </div>

      <div class="align-items-center justify-content-center  green-container col-12 md:col-12">
        <label> CROQUIS </label>
        <br>
        <hr>

        <div class="grid">

          <div class="col-12 md:col-6 lg:col-3">
            <label for="buscador"> Buscar Ubicaciones: </label>
            <div class="white-space-normal"></div>

            <input id="buscador" #txtQuery (keyup)="onQueryChange(txtQuery.value)" pInputText
              placeholder="Ingresa alguna ubicacion, calle, lugar o zona" >
             <p-scrollPanel [style]="{width: '100%', height: '400px'}" styleClass="custombar2">
              <ul class="list-group mt-2 overflow-y: scroll;" *ngIf="lugares.length > 0">
                <li *ngFor="let lugar of lugares" class="z-5 list-group-item list-group-item-action cursor-pointer"
                  [class.active]="selectedId === lugar.properties.place_id" (click)="flyTo(lugar)">
                  <h6>
                    {{ lugar.properties.display_name }}
                  </h6>
                  <p>
                    {{ lugar.properties.address.country }}
                  </p>
                </li>
              </ul>
            </p-scrollPanel>

          </div>

          <div class="col-12 md:col-6 lg:col-9">
            <div #mapE style="height: 500px;"></div>
          </div>

        </div>


      </div>



      <div class="field col-12">
        <p-divider align="center">
          <span class="p-tag">DATOS GARANTE O REFERENCIA </span>
        </p-divider>
      </div>


      <div class="field col-12">
        <label for="direccionTrabajo">Direccion Trabajo</label>
        <textarea id="direccionTrabajo" type="text" rows="4" formControlName="direccionTrabajo"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
      </div>

      <div class="field col-12 md:col-6">
        <label for="empresaTrabajo">Empresa Trabajo</label>
        <input pInputText id="empresaTrabajo" type="text" formControlName="empresaTrabajo"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
        <p-message severity="error" text="* Empresa es Requerido" *ngIf="esValido('empresaTrabajo')"></p-message>
      </div>

      <div class="field col-12 md:col-6">
        <label for="tipo"> Referencia o Garante </label>
        <p-dropdown id="tipo" [options]="lstGaranteYRef" formControlName="tipo" optionValue="codTipos" optionLabel="nombre"
          class="flex">
        </p-dropdown>
      </div>

      <div class="field col-12">
        <label for="obs">Observaciones</label>
        <textarea id="obs" type="text" rows="4" formControlName="obs"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
      </div>


      <button pButton type="submit" icon="pi pi-save" [disabled]="!formDatosGaranYRef.valid" label="Guardar" class="flex-1 m-15 px-5 py-3 flex align-items-center p-button-raised p-button-success"></button>

    </div>
  </form>
</p-dialog>
