<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>

<br />
<div align="center">
  <h1>FICHA DEL TRABAJADOR</h1>
</div>
<hr>
<br />


<div class="flex justify-content-center flex-wrap card-container">
  <div class="flex align-items-center justify-content-center w-70rem h-70rem border-round m-2">
    <!-- <p-image src="../../../../../assets/img/personas/user.jpg" alt="user" width="250" height="250"></p-image> -->
    <p-image src="{{baseUrl}}/fichaTrabajador/uploads/img/{{codEmpleado}}.jpg" styleClass="p-image-preview-container"  alt="foto-usuario"  width="250" height="250"></p-image>

  </div>
</div>

<br />

<div class="flex align-items-center justify-content-center w-70rem h-70rem border-round m-2">
  <div class="grid">
    <div class="custom-file">
      <input (change)="seleccionarFoto($event)"  type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
      <label class="custom-file-label" for="inputGroupFile04"></label>
    </div>
    <div class="input-group-append">
      <button (click)="subirFoto()" [disabled]="!fotoSeleccionada"  class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
    </div>
  </div>
</div>

<br>
<div class="flex align-items-center justify-content-center w-70rem h-70rem border-round m-2">
  <button pButton label="Descargar Ficha Trabajador" (click)="descargarFichaTrabajador()"  ></button>
</div>

<br />


<!-- Panel que mostrara los datos-->
<p-accordion [multiple]="true">

  <p-accordionTab header="DATOS PERSONALES">
    <app-datos-personales></app-datos-personales>
  </p-accordionTab>

  <p-accordionTab header="DATOS INGRESO">
    <app-dato-ingreso></app-dato-ingreso>
  </p-accordionTab>

  <!--  <p-accordionTab header="ESPOSO(A) O CONVIVIENTE">
    <app-dato-esposo-conviviente></app-dato-esposo-conviviente>
  </p-accordionTab> -->

  <p-accordionTab header="DEPENDIENTES">
    <app-dependiente></app-dependiente>
  </p-accordionTab>

  <p-accordionTab header="GARANTES O REFERENCIAS">
    <app-garante-referencia></app-garante-referencia>
  </p-accordionTab>

  <p-accordionTab header="FORMACION">
    <app-dato-formacion></app-dato-formacion>
  </p-accordionTab>

  <p-accordionTab header="EXPERIENCIA LABORAL">
    <app-dato-experiencia></app-dato-experiencia>
  </p-accordionTab>


</p-accordion>


<!-- <p-tabView styleClass="tabview-custom">

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-user"></i>
      <span>DATOS PERSONALES</span>
    </ng-template>
    <app-datos-personales></app-datos-personales>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-calendar"></i>
      <span>DATOS INGRESO</span>
    </ng-template>
    <app-dato-ingreso></app-dato-ingreso>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-users"></i>
      <span>DEPENDIENTES</span>
    </ng-template>
    <app-dependiente></app-dependiente>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate="header">
      <i class="pi pi-users"></i>
      <span>GARANTES O REFERENCIAS</span>
    </ng-template>
    <app-garante-referencia></app-garante-referencia>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate = "header">
        <i class="pi pi-briefcase"></i>
        <span>FORMACION</span>
    </ng-template>
    <app-dato-formacion></app-dato-formacion>
  </p-tabPanel>

  <p-tabPanel>
    <ng-template pTemplate = "header">
        <i class="pi pi-folder-open"></i>
        <span>EXPERIENCIA LABORAL</span>

    </ng-template>
    <app-dato-experiencia></app-dato-experiencia>
  </p-tabPanel>

</p-tabView> -->
