<p-toolbar class="card">
  <div>
      <button pRipple pButton label="Nueva Propuesta" icon="pi pi-plus" class="p-button-sm" ></button>
      <button pRipple  pButton label="Ver Lista de Precios " icon="pi pi-list" class="p-button-sm"  ></button>
      <button pRipple  pButton label="Ver Familias" icon="pi pi-sitemap" class="p-button-sm" routerLink="familias"  ></button>
      <button pRipple pButton label="Ver Precios" icon="pi pi-dollar" class="p-button-sm" ></button>

  </div>

  <div class="p-toolbar-group-right">
      TIPO CAMBIO
  </div>
</p-toolbar>
