<h1 class="mt-4">PRECIOS</h1>

<!-- menu -->
<app-menu-precios></app-menu-precios>

<!-- Contenido principal -->
<div class="card" *ngIf="autorizaciones.length > 0">
  <p-table #dt1 [value]="autorizaciones" styleClass="p-datatable-sm p-datatable-gridlines" [paginator]="true"
    [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} Registros" [rowsPerPageOptions]="[10,25,35]"
    [globalFilterFields]="['estadoCad']"
    responsiveLayout="scroll" [tableStyle]="{'table-layout':'auto'}">
    <ng-template pTemplate="caption">
      PROPUESTAS PARA ACTUALIZACION DE PRECIOS
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Titulo Propuesta</th>
        <th>Propuesto Por</th>
        <th>Fecha Propuesta</th>
        <th>
          En Respuesta De:
          <p-columnFilter field="aut.regProp.estadoCad" matchMode="equals" [showMenu]="false">
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                <p-dropdown [ngModel]="value" [options]="estadosPropuesta" (onChange)="filter( $event.value )" placeholder="Todos" [showClear]="true">
                    <ng-template let-option pTemplate="item">
                        {{option.nombre}}
                    </ng-template>
                </p-dropdown>
            </ng-template>
        </p-columnFilter>

        </th>
        <th>Aprobado / Rechazado Por</th>
        <th>Fecha Aprobacion</th>
        <th>Generado Por</th>
        <th>Fecha Generacion</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-aut>
      <tr>
        <td>{{ aut.idPropuesta }}</td>
        <td>

          <button pButton pRipple type="button" icon="pi pi-arrow-right"
            class="p-button-rounded p-button-text"></button>
          {{ aut.regProp.titulo }}
        </td>
        <td>{{ aut.datoUsuarioP }}</td>
        <td>{{ aut.regProp.audFecha | date: 'dd/MM/yyyy' }}</td>
        <td>

          <div [ngClass]="{'noAprobada':  aut.regProp.estadoCad === 'No Aprobada',
                                          'pendiente': aut.regProp.estadoCad === 'Pendiente',
                                          'aprobada': aut.regProp.estadoCad === 'Aprobada' }">
            {{ aut.regProp.estadoCad }}
          </div>

        </td>
        <td>{{ aut.datoUsuarioAP }}</td>
        <td>{{ aut.audFecha | date: 'dd/MM/yyyy' }}</td>
        <td>{{ aut.datoUsuarioGP }}</td>
        <td>{{ aut.regProp.audUsGenerado | date: 'dd/MM/yyyy' }}</td>
        <td>
          <button pRipple pButton icon="pi pi-eye" label="Ver"></button>
          <button pRipple pButton icon="pi pi-file-pdf" label="Exportar"></button>

        </td>

      </tr>
    </ng-template>
  </p-table>
</div>

<!-- Snipper -->
<div class="grid" *ngIf="autorizaciones.length <= 0 ">
  <div class="col-6 col-offset-6">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
