<h1 class="mt-4">PRECIOS</h1>
<p-toolbar class="card">
  <div>
      <button pButton label="Nueva Propuesta" icon="pi pi-plus" styleClass="p-button-sm" ></button>
      <button pButton label="Ver Lista de Precios " icon="pi pi-list" styleClass="p-button-sm"  ></button>
      <button pButton label="Ver Familias" icon="pi pi-sitemap" styleClass="p-button-sm" ></button>
      <button pButton label="Ver Precios" icon="pi pi-dollar" styleClass="p-button-sm" ></button>

  </div>

  <div class="p-toolbar-group-right">
      TIPO CAMBIO
  </div>
</p-toolbar>
