<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmPopup></p-confirmPopup>

<h3>TELEFONOS</h3>
<hr>
<br />


<p-panel>
  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-cog" class="p-button-sm px-1" (click)="cargarTelefonos()" label="Editar">
    </button>
  </ng-template>
  <ul *ngFor="let telf of telefonos">
    <li>
      {{ telf.telefono }}
    </li>
  </ul>
</p-panel>


<!-- Dialog para editar la informacion de los telefonos -->
<p-dialog header="ACTUALIZAR DATOS DE TELEFONOS" [(visible)]="displayModal" [modal]="true" [draggable]="true">
  <hr>
  <button pButton class="p-button-help" (click)="agregarNuevoRegistro()"> Nuevo Registro</button>
  <form autocomplete="off" [formGroup]="formTelefono" (ngSubmit)="guardarTelefono()">
    <br>
    <div formArrayName="telArr">
      <div *ngFor="let em of lstFormTel().controls;  let i = index" [formGroupName]="i">
        <br>
        <div class="grid">

          <input class="col-7" pInputText formControlName="telefono" placeholder="Nuevo Telefono">

          <button pButton class="col-4 mx-1 p-button-danger" type="button" label="Eliminar"
            (click)="eliminarRegistro($event, i, lstFormTel().controls[i].value.codTelefono)" icon="pi pi-trash">
          </button>

        </div>

      </div>

    </div>
    <hr>
    <button pButton class="p-button-success" icon="pi pi-save" type="submit" label="Guardar"
      [disabled]="!formTelefono.valid">
    </button>
  </form>
</p-dialog>