<p-toast></p-toast>
<p-toast position="top-left" key="tl"></p-toast>
<p-toast position="top-center" key="tc"></p-toast>
<p-toast position="bottom-center" key="bc"></p-toast>
<p-confirmPopup></p-confirmPopup>

<h3>E-MAILS</h3>
<hr>
<br />

<p-panel>
  <ng-template pTemplate="icons">
    <button pButton icon="pi pi-cog" class="p-button-sm px-1" (click)="cargarEmails()" label="Editar">
    </button>
  </ng-template>
  <ul *ngFor="let email of lstEmail">
    <li>
      {{ email.email }}
    </li>
  </ul>
</p-panel>


<!-- Dialog para editar o agregar mas Emails  -->
<p-dialog header="ACTUALIZAR DATOS DE EMAIL" [(visible)]="displayModal" [modal]="true" [draggable]="true"
  [responsive]="true">
  <hr>
  <button pButton class="p-button-help" (click)="agregarNuevoRegistro()"> Nuevo Registro </button>
  <form autocomplete="off" [formGroup]="formEmail" (ngSubmit)="guardarEmails()">

    <br>
    <div formArrayName="emailArr">

      <div *ngFor="let em of lstFormEmail().controls;  let i = index" [formGroupName]="i">
        <br>
        <div class="formgrid">

          <input class="pr-8 col-6 " pInputText formControlName="email" placeholder="Nuevo Email">

          <button pButton class="pr-8 col-6 mx-1 p-button-danger" type="button" label="Eliminar"
            (click)="eliminarRegistro($event, i, lstFormEmail().controls[i].value.codEmail)" icon="pi pi-trash">
          </button>

        </div>

      </div>

    </div>
    <hr>
    <button pButton class="p-button-success" icon="pi pi-save" type="submit" label="Guardar"
      [disabled]="!formEmail.valid">
    </button>

  </form>
</p-dialog>
